/* Text Effects */
.introTitle {
  font-size: 3rem;
  letter-spacing: 1rem;
}

.introSub {

}

/* NavBar */

.nav {
  background-color: black;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: white;
}

.nav-item:hover {
  color: grey;
  cursor: pointer;
}

/* Introduction */

.introLogo {
  height: auto;
  width: 15rem;
}

/* Sections */

.section {
}

.section-dark {
  background: #333;
  color: white;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.introduction{
  background-color: #333;
  text-shadow: 2px 2px 4px #000000;
  color: white;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 100vh;
}
