/******** THEME START  ********/
.introBG {
  background-image: url("./assets/introBG.jpg");
  background-color: #333;
  background-size: cover;
  background-position: center;
  color: white;
}

.primaryBG {
  background: #333;
  color: white;
  border-color: white;
}

.secondaryBG {
  background: light;
  color: black;
  border-color: black;
}

.tertiaryBG {
  background-color: black;
}

.navbarBG {
  background-color: black;
}

/******** THEME END  ********/


/* Text Effects */
.introTitle {
  font-size: 4rem;
  letter-spacing: 1rem;
}

.introSub {
  font-size: 1.5rem;
}

/* Intro Animation */
.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: drop 7s 0s infinite;
          animation: drop 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line:nth-child(1) {
  margin-left: -25%;
}
.line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.line:nth-child(3) {
  margin-left: 25%;
}
.line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

/* NavBar */

.nav {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  font-size: 1.5rem;
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  max-width: 900px;
  padding: 0rem 0rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: white;
}

.nav-item:hover {
  color: grey;
  cursor: pointer;
}

/* Introduction */

.introLogo {
  height: auto;
  width: 15rem;
}

/* Sections */

.section {
  margin: auto;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.sectionTitle {
  font-size: 2.5rem;
  width: 100%;
  margin-bottom: .5rem;
}

hr.titleLine {
  margin: auto;
  width: 10%;
  border-top: 3px solid;
}

.section-content {
  max-width: 800px;
  margin: auto;
  padding: 40px;
  height: 100%;
}

.section-body {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.introduction{
  text-shadow: 2px 2px 4px black;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 100vh;
}
